* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    list-style: none;
    color: black;
}

body {
    background: rgba(250, 250, 200, .4);
    color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 60px;
}

::-webkit-scrollbar-track {
    background: gray;
}

::-webkit-scrollbar-thumb {
    background: black;
    border: 2px solid rgb(85, 85, 85, .5);
    border-radius: 80px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::selection {
    background-color: #555;
    color: #fff;
}

.header {
    width: 100%;
    height: 100px;
    padding: 23px 0px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0px;
    z-index: 100;
    background: rgba(200, 200, 200);
    border: 1px rgba(163, 60, 172, 0.50) solid;
}

.header_img {
    width: 50px;
}

.header_img--img {
    width: 100%;
    border-radius: 50%;
}

.header_nav {
    width: 60%;
    padding: 8px 0px;
    display: flex;
    justify-content: space-around;
}

.header_nav_countainer {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
}

.header_nav--a {
    padding: 0px 10px;
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}

#header_bnt--dark {
    width: 30px;
    height: 30px;
    /* margin-top: 10px; */
    background-color: rgba(200, 200, 200, .4);
    color: #0C0C2B;
    border: none;
}

.fa-bars{
    font-size: 20px;
    margin-top: 15px;
    display: none;
}

.fa-sun {
    font-size: 24px;
    display: block;
    cursor: pointer;
    color: #0C0C2B;
}

.fa-moon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #0C0C2B;
}

.sidebar_content {
    display: none;
}

.searchbar_countainer{
    width: 100%;
    height: 100px;
    padding: 23px 0px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    top: 0px;
    z-index: 100;
    background: rgba(200, 200, 200);
    border: 1px rgba(163, 60, 172, 0.50) solid;
    margin-top: 99px;
}

#searchApp{
    width: 40%;
    margin: auto;
    padding: 5px 10px;
    background-color: rgba(250, 250, 200, .4);
    color: #0C0C2B;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid;
    border-image: linear-gradient(45deg, gray, black) 1 / 1 / 0 stretch;
    margin: 10px 0px;
}

.container {
    width: 85%;
    margin: auto;
}

.im {
    margin: 220px auto 0px;
}

.text_h1 {
    width: 55%;
    margin: 0px auto 0px;
    display: flex;
}

.container_text--h1 {
    font-size: 39px;
    font-weight: 700;
    margin-right: 10px;
}

.container_text--h2 {
    font-size: 39px;
    font-weight: 900;
    background: -webkit-linear-gradient(90deg, black 0%, gray 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text_p {
    width: 560px;
    margin: 0px auto;
    font-size: 28px;
    font-weight: 600;
}

.text_btn {
    width: 500px;
    margin: 0 auto;
}

.text_btn--btn1 {
    margin: 25px;
    padding: 12px 50px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 700;
    letter-spacing: 1.4px;
    background: rgba(200, 200, 200);
}

.text_btn--btn2 {
    margin: 25px;
    padding: 12px 50px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1.4px;
    background: -webkit-linear-gradient(180deg, black 0%, gray 80%);
}

.solar_system_img {
    position: relative;
    margin-left: -100px;
}

.about_me_countainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 200px auto 0px;
}

.countainer_about_img {
    width: 45%;
    height: 540px;
}

.countainer_about_img--img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.countainer_about_text {
    width: 50%;
}

.countainer_about_text--h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.countainer_about_text--h4 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.countainer_about_text--p {
    display: flex;
}

.achievements_countainer {
    width: 310px;
    margin: auto;
}

.achievements_countainer--h4 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.countainer--p {
    font-size: 15px;
    font-weight: 600;
    margin-top: 24px;
}

.countainer_css_hr--flex {
    display: flex;
}

.countainer_html--hr {
    height: 4px;
    background: linear-gradient(92deg, gray 0%, black 100%, gray 100%);
    border: none;
}

.countainer_css--hr {
    width: 88%;
    height: 4px;
    background: linear-gradient(92deg, gray 0%, black 100%, gray 100%);
    border: none;
}

.countainer_css--hr1 {
    width: 12%;
    height: 4px;
    background-color: yellow;
    border: none;
}

.countainer_js_hr--flex {
    display: flex;
}

.countainer_js--hr {
    width: 12%;
    height: 4px;
    background: linear-gradient(92deg, gray 0%, black 100%, gray 100%);
    border: none;
}

.countainer_js--hr1 {
    width: 88%;
    height: 4px;
    background-color: yellow;
    border: none;
}

.myWorks_countainer--h4 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 120px auto 80px;
}

.myWorks_countainer_more {
    width: 230px;
    margin: 40px auto 0px;
}

.myWorks_countainer_more--btn {
    border: none;
    cursor: pointer;
    border-radius: 30px;
    background: linear-gradient(92deg, gray 0%, black 100%, gray 100%);
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 60px;
}

.myWorks_countainer_more--p {
    color: #fff;
}

.myTeachers_countainers--h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: 160px;
}

.myTeachers_countainers--h4 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 90px;
    text-align: center;
    background: -webkit-linear-gradient(90deg, black 0%, gray 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profiles_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

.profiles_shahriyorDev {
    width: 22%;
    height: 300px;
    background-color: black;
    margin: 60px 20px;
    padding: 80px 0px 0px;
    border-radius: 30px;
}

.profiles_shahriyorDev_about {
    background: -webkit-linear-gradient(90deg, black 0%, gray 80%);
    border-radius: 30px;
    padding: 20px;
}

.shahriyorDev_about_text--h4 {
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin: 15px 0px 20px;
}

.shahriyorDev_about_text--p {
    color: #fff;
}

.shahriyorDev_about_img {
    width: 35%;
    margin: auto;
}

.shahriyorDev_about_img--img {
    border-radius: 100%;
    margin-top: -30px;
}

.profiles_maruf {
    width: 22%;
    height: 300px;
    background-color: black;
    margin: 60px 20px;
    padding: 80px 0px 0px;
    border-radius: 30px;
}

.profiles_maruf_about {
    background: -webkit-linear-gradient(90deg, black 0%, gray 80%);
    border-radius: 30px;
    padding: 20px;
}

.maruf_about_text--h4 {
    font-size: 27px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 15px 0px 20px;
}

.maruf_about_text--p {
    color: #fff;
}

.maruf_about_img {
    width: 35%;
    margin: auto;
}

.maruf_about_img--img {
    border-radius: 100%;
    margin-top: -30px;
}

.profiles_shahriyorYorbekov {
    width: 22%;
    height: 300px;
    background-color: black;
    margin: 60px 20px;
    padding: 80px 0px 0px;
    border-radius: 30px;
}

.profiles_shahriyorYorbekov_about {
    background: -webkit-linear-gradient(90deg, black 0%, gray 80%);
    border-radius: 30px;
    padding: 20px;
}

.shahriyorYorbekov_about_text--h4 {
    font-size: 27px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 15px 0px 20px;
}

.shahriyorYorbekov_about_text--p {
    color: #fff;
}

.shahriyorYorbekov_about_img {
    width: 35%;
    margin: auto;
}

.shahriyorYorbekov_about_img--img {
    border-radius: 100%;
    margin-top: -30px;
}

.footer_countainer {
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, .4);
    color: rgb(255, 255, 255);
    padding: 40px;
    margin-top: 200px;
}

.footer_about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer_text_flex {
    display: flex;
    flex-direction: column;
}

.footer_about_text--h4 {
    font-size: 20px;
    font-weight: 600;
}

.footer_about_text--p {
    margin: auto;
    background: -webkit-linear-gradient(90deg, black 0%, gray 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: 600;
}

.footer_form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 420px;
    background-color: rgba(250, 250, 200, .4);
    box-shadow: rgba(0, 0, 0, 0.25) 7px 4px 4px;
    padding: 30px 20px;
    border-radius: 20px;
}

.form_input--name {
    width: 100%;
    background-color: rgba(250, 250, 200, .4);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    padding: 5px 10px;
    border-width: 2px;
    border-style: solid;
    border-color: initial;
    border-image: linear-gradient(45deg, gray, black) 1 / 1 / 0 stretch;
    margin: 10px 0px;
}

.form_input--addres {
    width: 100%;
    background-color: rgba(250, 250, 200, .4);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    padding: 5px 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    margin: 10px 0px;
}

.form_textarea {
    width: 100%;
    background-color: rgba(250, 250, 200, .4);
    font-size: 15px;
    font-weight: 700;
    padding: 5px 10px;
    border-width: 2px;
    border-style: solid;
    margin: 10px 0px;
}

.form_btn--link {
    width: 50%;
    margin: auto;
}

.footer_form--btn {
    width: 100%;
    margin: auto;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(92deg, gray 0%, black 100%, gray 100%);
    border: none;
    cursor: pointer;
    text-align: center;
}

.footer_links {
    display: flex;
    flex-direction: column;
}

.links_email_countainer--a,
.links_location_countainer--a,
.links_call_countainer--a {
    width: 60%;
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
}

.call_text--p,
.location_text--p,
.email_text--p {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

.call_img--img {
    width: 30px;
    margin-top: 7px;
    background-repeat: no-repeat;
    background-image: url(./image/dsBuffer.bmp.png);
}

.location_img--img {
    width: 30px;
    margin-top: 7px;
    background-repeat: no-repeat;
    background-image: url(./image/Vector\ \(1\).png);
}

.email_img--img {
    width: 30px;
    margin-top: 7px;
    background-repeat: no-repeat;
    background-image: url(./image/Vector\ \(2\).png);
}

/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

/* ================================Media --- for --- tablet=================================== */

/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

@media screen and (max-width: 1000px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Titillium Web', sans-serif;
        flex-wrap: wrap;
        /* flex-direction: column; */
        text-decoration: none;
        list-style: none;
        color: #0C0C2B;
    }

    .header_nav {
        width: 80%;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(250, 250, 200, .8);
    }

    .header_nav_countainer {
        display: flex;
        flex-direction: column;
    }

    .sidebar_content {
        display: block;
    }

    .sidebar_content--p {
        font-size: 24px;
        text-align: center;
    }

    .header_nav--a {
        margin: 16px auto;
    }

    .text_h1 {
        width: 100%;
    }

    .text_p {
        width: 100%;
    }

    .text_btn {
        width: 100%;
        display: flex;
        margin-top: 40px;
    }

    .text_btn--btn2 {
        width: 220px;
        margin: auto;
    }

    .text_btn_link {
        width: 50%;
        margin: 10px auto;
    }

    .text_btn_link1 {
        width: 60%;
        margin: auto;
    }

    .footer_form {
        width: 100%;
        height: 550px;
    }

    .about_me_countainer {
        display: flex;
        flex-direction: column;
    }

    .countainer_about_img {
        width: 100%;
        height: 100vh;
    }

    .countainer_about_text {
        width: 80%;
        margin: 20px auto;
    }

    .profiles_flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .profiles {
        width: 40%;
        margin: 60px auto;
    }

    .links_call_countainer--a,
    .links_location_countainer--a,
    .links_email_countainer--a {
        width: 80%;
    }
}

/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

/* ================================Media --- for --- tablet=================================== */

/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

@media screen and (max-width: 950px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Titillium Web', sans-serif;
        flex-wrap: wrap;
        /* flex-direction: column; */
        text-decoration: none;
        list-style: none;
        color: #0C0C2B;
    }

    .header_nav {
        width: 80%;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(250, 250, 200, .8);
    }

    .header_nav_countainer {
        display: flex;
        flex-direction: column;
    }

    .sidebar_content {
        display: block;
    }

    .sidebar_content--p {
        font-size: 24px;
        text-align: center;
    }

    .header_nav--a {
        margin: 16px auto;
    }

    .text_h1 {
        width: 100%;
    }

    .text_p {
        width: 100%;
    }

    .text_btn {
        width: 100%;
        display: flex;
        margin-top: 40px;
    }

    .text_btn--btn2 {
        width: 220px;
        margin: auto;
    }

    .text_btn_link {
        width: 50%;
        margin: 10px auto;
    }

    .text_btn_link1 {
        width: 60%;
        margin: auto;
    }

    .footer_form {
        width: 100%;
        height: 550px;
    }

    .about_me_countainer {
        display: flex;
        flex-direction: column;
    }

    .countainer_about_img {
        width: 80%;
        height: 100vh;
        margin: auto;
    }

    .countainer_about_img--img{
        width: 100%;
        height: 100vh;
    }

    .countainer_about_text {
        width: 80%;
        margin: 20px auto;
    }

    .profiles_flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .profiles {
        width: 45%;
        margin: 60px auto;
    }

    .links_call_countainer--a,
    .links_location_countainer--a,
    .links_email_countainer--a {
        width: 80%;
    }
}


/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

/* ================================Media --- for --- tablet=================================== */

/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

@media screen and (max-width: 750px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Titillium Web', sans-serif;
        flex-wrap: wrap;
        /* flex-direction: column; */
        text-decoration: none;
        list-style: none;
        color: #0C0C2B;
    }

    .header_nav {
        width: 80%;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(250, 250, 200, .8);
    }

    .header_nav_countainer {
        display: flex;
        flex-direction: column;
    }

    .sidebar_content {
        display: block;
    }

    .sidebar_content--p {
        font-size: 24px;
        text-align: center;
    }

    .header_nav--a {
        margin: 16px auto;
    }

    .text_h1 {
        width: 100%;
    }

    .text_p {
        width: 100%;
    }

    .text_btn {
        width: 100%;
        display: flex;
        margin-top: 40px;
    }

    .text_btn--btn2 {
        width: 220px;
        margin: auto;
    }

    .text_btn_link {
        width: 50%;
        margin: 10px auto;
    }

    .text_btn_link1 {
        width: 60%;
        margin: auto;
    }

    .footer_form {
        width: 100%;
        height: 550px;
    }

    .about_me_countainer {
        display: flex;
        flex-direction: column;
    }

    .countainer_about_img {
        width: 100%;
        height: 100vh;
    }

    .countainer_about_text {
        width: 80%;
        margin: 20px auto;
    }

    .profiles_flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .profiles {
        width: 50%;
        margin: 60px auto;
    }

    .links_call_countainer--a,
    .links_location_countainer--a,
    .links_email_countainer--a {
        width: 80%;
    }
}

/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

/* ================================Media --- for --- phone=================================== */

/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

@media screen and (max-width: 550px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Titillium Web', sans-serif;
        flex-wrap: wrap;
        /* flex-direction: column; */
        text-decoration: none;
        list-style: none;
        color: #0C0C2B;
    }

    .header_nav {
        width: 80%;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(200, 200, 200, .8);
    }

    .header_nav_countainer {
        display: flex;
        flex-direction: column;
    }

    .sidebar_content {
        display: block;
    }

    .sidebar_content--p {
        font-size: 24px;
        text-align: center;
    }

    .header_nav--a {
        margin: 16px auto;
    }

    .text_h1 {
        width: 100%;
    }

    .text_p {
        width: 100%;
    }

    .text_btn {
        width: 100%;
        display: flex;
        margin-top: 40px;
    }

    .text_btn--btn2 {
        width: 220px;
        margin: auto;
    }

    .text_btn_link {
        width: 50%;
        margin: 10px auto;
    }

    .text_btn_link1 {
        width: 60%;
        margin: auto;
    }

    .footer_form {
        width: 100%;
        height: 550px;
    }

    .about_me_countainer {
        display: flex;
        flex-direction: column;
    }

    .countainer_about_img {
        width: 100%;
        height: 100vh;
    }

    .countainer_about_text {
        width: 80%;
        margin: 20px auto;
    }

    .profiles_flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .profiles {
        width: 80%;
        margin: 60px auto;
    }

    .links_call_countainer--a,
    .links_location_countainer--a,
    .links_email_countainer--a {
        width: 80%;
    }
}