*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
}
.device{
    display: flex;
    margin-top: 40px;
}
.mobile{
    width: 175px;
    height: 590px;
    margin-left: 80px;
    margin-right: 40px;
}
.mobile_p{
    font-size: 24px;
    font-weight: 600;
}
.mobile .header{
    background-color: rgb(20, 20, 40);
    padding: 4px;
}
.mobile .header p{
    color: #fff;
    font-size: 18px;
    padding: 6px;
}
.mobile .menu{
    background-color: rgb(180, 20, 80);
    padding: 4px;
}
.mobile .menu p{
    color: #fff;
    font-size: 18px;
    padding: 6px;
}
.mobile .hero{
    background-color: rgba(0, 120, 255,0.6);
    padding: 26px 10px;
}
.mobile .hero p{
    color: #fff;
    font-size: 18px;
} 
.mobile .main{
    background-color: rgba(0, 10, 50, 0.85);
    padding: 28px 12px;
}
.mobile .main p{
    color: #fff;
    font-size: 18px;
}
.mobile .banner{
    background-color: rgb(220, 200, 20);
    padding: 24px 12px;
}
.mobile .extra{
    background-color: rgb(0, 220, 180);
    padding: 24px 12px;
}
.mobile .image{
    background-color: rgb(190, 220, 255);
    padding: 24px 12px;
}
.tablet{
    width: 435px;
    height: 590px;
    margin-left: 40px;
    margin-right: 40px;
}
.tablet .header{
    background-color: rgb(20, 20, 40);
    padding: 4px;
}
.tablet_p{
    font-size: 24px;
    font-weight: 600;
}
.tablet .header p{
    color: #fff;
    font-size: 18px;
    padding: 6px;
}
.tablet .hero{
    background-color: rgba(0, 120, 255,0.6);
    padding: 48px;
}
.tablet .hero p{
    color: #fff;
    font-size: 20px;
}
.tablet .menu{
    background-color: rgb(180, 20, 80);
    width: 100px;
    height: 340px;
    padding: 140px 10px;
}
.tablet .menu p{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.tablet .main{
    background-color: rgba(0, 10, 50, 0.85);
    padding: 80px 120px;
}
.extra_flex{
    display: flex;
    flex-direction: row;
}
.flex{
    display: flex;
}
.main_flex{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main_flex p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.tablet .banner{
    width: 100%;
    background-color: rgb(220, 200, 20);
    padding: 30px;
}
.tablet .banner p{
    color: black;
}
.tablet .extra{
    padding: 28.5px 68px;
    background-color: rgb(0, 220, 180);
}
.tablet .extra p{
    color: black;
}
.tablet .image{
    background-color: rgb(190, 220, 255);
    padding: 26px 18.5px;
}
.tablet .image p{
    color: black;
}
.desktop_p{
    font-size: 24px;
    font-weight: 700;
}
.desktop{
    width: 636px;
    height: 590px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 6px;
}
.flex_desktop{
    display: flex;
}
.desktop .header{
    background-color: rgb(20, 20, 40);
    padding: 10px 36px;
}
.desktop .header p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.desktop .menu{
    background-color: rgb(180, 20, 80);
    padding: 8px 173px;
}
.desktop .menu p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.desktop .hero{
    background-color: rgba(0, 120, 255,0.6);
    padding: 90px 12px;
}
.desktop .hero p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.desk_flx{
    display: flex;
}
.desktop .main{
    background-color: rgba(0, 10, 50, 0.85);
    padding: 70px 120px;
}
.desktop .main p{
    color: #fff;
}
.desktop .empty{
    background-color: #fff;
    padding: 40px 60px;
}
.image_flex{
    display: flex;
    flex-direction: column;
}
.desktop .image{
    background-color: rgb(190, 220, 255);
    padding: 30px 38px;
}
.desktop .image p{
    color: black;
}
.desktop .extra{
    background-color: rgb(0, 220, 180);
    padding: 30px 38px;
}
.desktop .banner{
    background-color: rgb(220, 200, 20);
    padding: 36.5px;
}